.App {
  text-align: center;
  align-items: center;
}

.for-input{
  width: 300px;
  justify-content: center;
  padding: 4px;
  outline: none;
  border: none;
}

.for-btn{
  width: 40px;
  border: none;
  padding: 5px;
}

.for-input:focus{
  border: 1px solid #34495E;
}

.style{
  border-radius: 40px;
}